$("#comment-<%= @comment.id %>").html("<%= escape_javascript(render "comments/edit", comment: @comment) %>");
$("#comment-action-<%= @comment.id %>").html('<button class="btn btn-outline-secondary ml-2 text-sm">Cancel</button>');