@charset "UTF-8";
@import "bootstrap";
@import "font-awesome";

/**************************************
*              Color
***************************************/

$color-like: #eb6ea5;

/**************************************
*        Bootstrap Override
***************************************/

.card {
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
  box-shadow: 
    0 16px 24px 2px rgba(0,0,0,0.14), 
    0 6px 30px 5px rgba(0,0,0,0.12), 
    0 8px 10px -7px rgba(0,0,0,0.2);
}

.dropdown-menu {
  border-radius: 0;
}

.card-header {
  padding: 0.8em 1.0em;
}

/**************************************
*              Common
***************************************/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(-135deg, rgb(77, 90, 175), rgb(157, 91, 139));
  font-weight: 100;

  .search-input {
    width: 90%;
    border-radius: 0.2;
    opacity: 0.3;
    border: none;
    color: #444;
    transition: all 0.3s;      
    

    &:focus {
      opacity: 1;
      outline: 0;
    }
  }
}

main {
  min-height: calc(100% - 58px - 50px);
}

footer {
  width: 100%;
  height: 50px;

  div {
    line-height: 50px;
    color: rgb(157, 91, 139);
  }
}

/**************************************
*              Element
***************************************/

/* In post <a> </a> */
.post-link {
  color: #50b8d9;
  transition: 0.1s;
  position: relative;

  &:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 104%;
    height: 130%;
    padding: 0.4em;
    background-color: rgba(255,234,0,0.2);
  }
}

/* Show horizon line both of text */
.text-horizon-line {
  display: flex;
  align-items: center;
}

.text-horizon-line:before,
.text-horizon-line:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #fff;;
  display: block;
}

.text-horizon-line:before {
  margin-right: .4em;
}

.text-horizon-line:after {
  margin-left: .4em;
}

.pointer:hover {
  cursor: pointer;
}

.hover-bg-light-circle:hover {
  background-color: rgb(225, 225, 225);
  transition: all 0.3s;
  border-radius: 50%;
}

.text-thin {
  font-weight: 100;
}

.text-bold {
  font-weight: bold;
}

.space-1 {
  letter-spacing: 0.1em;
}

.none {
  display: none;
}

.text-sm {
  font-size: small;
}

.line-height-middle {
  line-height: 1em;
}

/**************************************
*              Component
***************************************/

/* Form */
.orig-input-text {
  border: none;
  background-color: rgba(221, 219, 219, 0.493) !important;
  border-radius: 5px;
  font-size: 20px;
  padding: 0.4em 0.5em;
}

.orig-input-text:focus {
  border-color: none !important;
  outline: 0;
}

/* Button */
.orig-btn {
  border-radius: 0.2;
  box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2)
}

/* オリジナルボタン */
.original_btn {
  border: 1px solid #ddd;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #666;
  background: linear-gradient(to bottom,#fff 0,#f4f4f4 100%);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}

/* 未選択時のアイコン */
.icon {
  font-size: 12px;
  margin: 0 10px 0 15px;
  padding: 3px 30px;
  border-radius: 15px;
  background: #666;
  color: #fff;
  display: inline-block;
}

/* 選択時のアイコン */
.icon.select {
  background: #b972ab;
  color: #fff;
}

/* ファイル名 */
.filename {
  display: inline-block;
  font-size: 12px;
}

/* Box Shadow */
.box-shadow-sm {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box-shadow-md {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box-shadow-lg {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.box-shadow-xl {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-shadow-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/**************************************
*              Error
***************************************/
#error_explanation {
  width: 100%;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: rgba(221, 219, 219, 0.383);
  border-radius: 5px;

  h2 {
    text-align: left;
    font-weight: 100;
    padding: 10px 10px 10px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #4d5aaf;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  ul li {
    font-size: 12px;
    font-weight: 100;
    list-style: square;
    margin-top: .5em;
    padding-bottom: .5em;
  }
}

/**************************************
*              Sign in
***************************************/
.session-background {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(-135deg, rgb(77, 90, 175), rgb(187, 188, 222));
  background-size: cover;
  z-index: 0;
}

.session-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.orig-btn-outline {
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 5px;
  transition: all 0.5s !important;
}

.orig-btn-outline:hover {
  color: #4d5aaf !important;
  background-color: #fff !important;
  cursor: pointer;
}

input.sign-up-input::placeholder {
  color: #888 !important;
}

@media (max-width: 540px) {
  .xs-none {
    display: none;
  }

  .sign-up-header {
    margin-bottom: 0.2em !important;
  }

  .sign-up-subtitle {
    font-size: 16px;
  }

  .sign-up-form {
    font-size: 80%;
  }

  .sign-up-input {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: -0.4em;
    font-size: 14px;
  }
}

.checkbox-custom {
  display: none;

  &:checked + .checkbox-custom-label::after {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 2px;
    width: 10px;
    height: 18px;
    transform: rotate(40deg);
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}

.checkbox-custom-label {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
    width: 18px;
    height: 18px;
    border: 1px solid #fff !important;
    border-radius: 4px;
  }
}

/**************************************
*              Top
***************************************/
.card-shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

.card-shadow-deep {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.19);
}

.card-header-right {
  text-align: center;
  min-height: 30px;
  min-width: 30px;
}

.card-header-right > span {
  display: block;
  min-height: 30px;
  min-width: 30px;
  line-height: 30px;
  border-radius: 50%;
  transition: 0.2s;
  
  &:hover {
    background-color: #f0f0f0;
    opacity: 0.9;
  }
}

.more-icon {
  fill: #999;
}

.likebox {
  margin-bottom: -5px;
}

.dropdown-arrow-hide {
  color: #888;

  &::after {
    display: none;
  }
}

.add-comment-input {
  border: none;
  height: inherit;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #d5d5d5;
  }
}

.new-post,
.post-submit {
  background: linear-gradient(-135deg, rgb(77, 90, 175), rgb(157, 91, 139));
  color: #fff;
  font-weight: 100;
}

.new-post-wrapper {
  min-height: 100px;
}

.post-textarea,
.post-textarea-edit {
  width: 100%;
  border: none;
  resize: none;

  &:focus {
    outline: none;
  }
}

.comment-text {
  font-size: 0.85em;
}

.comment-icon,
.like-icon {
  width: 50px;
  height: 40px;
  line-height: 40px;
}

.liked {
  fill: $color-like;
  outline: none;
}

.unknown-icon {
  border-radius: 50%;
}

.image-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  transition: 0.1s;

  &:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.card-body-nopadding {
  padding: 0;
}